In [1]:
a = False

if a == False:
    print("Hei")
else:
    print("Hå")

Hei

In [2]:
import numpy as np

def did_I_win(s0,s1):
    if s1>s0:
        return "won!"
    else:
        return "lost" 

PricePaid = 100
StockPriceToday = int(np.random.rand()*200)
print(
    f"Bought for: {PricePaid}\n"
    f"Worth today: {StockPriceToday}\n"
    f"You {did_I_win(PricePaid,StockPriceToday)}"
)

Bought for: 100
Worth today: 177
You won!

In [3]:
# Eksempelalder
alder = 18

if alder < 18:
    print("Du er et barn.")
elif alder < 65:
    print("Du er en voksen.")
else:
    print("Du er en senior.")

### Det vi egentlig har skrevet over her, gjør er:
# Hvis alder er mindre enn 18 --> print("Du er et barn.")
# Hvis ikke den over, hvis alder er mindre enn 65 --> print("Du er en voksen.")
# Hvis ingen av de over --> print("Du er en senior.")

Du er en voksen.

In [4]:
a = np.array([1,2,3])
b = np.array([3,2,1])

print(a>b)
if a>b:
    print('a was bigger than b')

[False False  True]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [5]:
if np.any(a>b):
    print('There were elements in a where the corresponding element in b was smaller')
    
    
a = np.array([101,102,103])
if np.all(a>b):
    print('All elements in a was bigger than the corresponding element in b')

There were elements in a where the corresponding element in b was smaller
All elements in a was bigger than the corresponding element in b

In [6]:
animal='lion'

cats=['lion','tiger','puma','lynx']
mammals=['human','bear','cat','whale','mouse']+cats

if (animal in cats) and (animal in mammals):
    print(f"{animal} is a cat and a mammal")
elif (not animal in cats) and (animal in mammals):
    print(f"{animal} is not a cat, but it is a mammal")
elif (animal in cats) and (not animal in mammals):
    print(f"{animal} is a cat, but not a mammal")   
else:
    print(f"{animal} is neither a cat nor a mammal")

lion is a cat and a mammal

In [7]:
# Eksempel 5
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# Eksempel 6
liste = [1, 2, 4, 8, 100]

for i in liste:
    print(i)

1
2
4
8
100

In [9]:
monthly_income = [3000, 3200, 3500, 2800, 3000, 3100, 3300, 3400, 3600, 3700, 3500, 3400]
total_income = 0

for income in monthly_income:
    total_income += income

print("Total inntekt for året:", total_income)

Total inntekt for året: 39500

In [10]:
total_income = 0

for income in monthly_income:
    total_income += income

average_income = total_income / len(monthly_income)
print("Gjennomsnittlig månedlig inntekt:", round(average_income,2 ))

Gjennomsnittlig månedlig inntekt: 3291.67

In [11]:
initial_investment = 10000  # Startkapital
interest_rate = 0.05        # 5% rente
years = 10                  # Antall år
values = []

for year in range(1, years + 1):
    value = initial_investment * (1 + interest_rate) ** year
    values.append(value)

print("Verdi av investeringen etter år:", values)

Verdi av investeringen etter år: [10500.0, 11025.0, 11576.250000000002, 12155.062500000002, 12762.815625000003, 13400.956406250005, 14071.004226562505, 14774.55443789063, 15513.282159785162, 16288.94626777442]

In [12]:
tax_rate = 0.35  # 25% skatt
monthly_income = [45000, 47000, 50000, 60000, 80000, 90000]

for income in monthly_income:
    tax = round(income * tax_rate)
    print(f"Skatt for inntekt på {income} kr i måneden: {tax} kr")

Skatt for inntekt på 45000 kr i måneden: 15750 kr
Skatt for inntekt på 47000 kr i måneden: 16450 kr
Skatt for inntekt på 50000 kr i måneden: 17500 kr
Skatt for inntekt på 60000 kr i måneden: 21000 kr
Skatt for inntekt på 80000 kr i måneden: 28000 kr
Skatt for inntekt på 90000 kr i måneden: 31500 kr

In [13]:
import pandas as pd

# Opprettelse av en eksempel DataFrame med frukter
data = {
    'Frukter': ['Eple', 'Banan', 'Appelsin', 'Druer'],
    'Kalorier': [52, 89, 47, 69],
    'Vekt (gram)': [182, 118, 131, 100]
}

df = pd.DataFrame(data)
df

    Frukter  Kalorier  Vekt (gram)
0      Eple        52          182
1     Banan        89          118
2  Appelsin        47          131
3     Druer        69          100

In [14]:
# Iterer over DataFrame med index og row
for index, row in df.iterrows():
    # Skriv ut fruktnavn og kalorier
    print(f"Frukt: {row['Frukter']}, Kalorier: {row['Kalorier']}")

Frukt: Eple, Kalorier: 52
Frukt: Banan, Kalorier: 89
Frukt: Appelsin, Kalorier: 47
Frukt: Druer, Kalorier: 69

In [15]:
monthly_income = [3000, 3200, 3500, 2800, 3000, 3100, 3300, 3400, 3600, 3700, 3500, 3400]
total_income = 0
index = 0

while total_income < 30000 and index < len(monthly_income):
    total_income += monthly_income[index]  # Legger til inntekten for den gjeldende måneden
    index += 1                             # Går til neste måned

print(f"Total inntekt nådd: {total_income} er nådd etter {index} måneder.")

Total inntekt nådd: 32600 er nådd etter 10 måneder.

In [16]:
# Definerer variablene våre

initial_investment = 1000          # Startbeløp
annual_interest_rate = 0.05        # Årlig rente (5%)
years = 0                          # Antall år
total_amount = initial_investment  # Totalbeløp

# Beregn totalbeløp over tid med rente
while years < 10:  # Beregn i 10 år
    total_amount += total_amount * annual_interest_rate  # Legg til rente
    years += 1  # Øk årstallet

print(f"Totalbeløp etter {years} år: {total_amount:.2f} kr")

Totalbeløp etter 10 år: 1628.89 kr

In [17]:
def calculate_months_to_pay_off_loan(loan_amount, annual_interest_rate, monthly_payment):
    # Konverterer årlig rente til månedlig rente
    monthly_interest_rate = annual_interest_rate / 12
    months = 0  # Antall måneder

    # Beregn nedbetalingstid vha while-løkke
    while loan_amount > 0:
        # Reduser lånebeløpet med rente og månedlig betaling
        loan_amount += loan_amount * monthly_interest_rate - monthly_payment
        months += 1  # Øk månedstallet

    return months  # Returnerer antall måneder


# Eksempel på bruk
loan = 3000000           # Lånebeløp
interest_rate = 0.054    # Årlig rente (6%)
monthly_payment = 19000  # Månedlig betalingskapasitet

months_needed = calculate_months_to_pay_off_loan(loan, interest_rate, monthly_payment)
print(f"Det tar {months_needed} måneder å nedbetale lånet.")

Det tar 277 måneder å nedbetale lånet.